@media (max-width: 991px) {
    .navbar-brand.navbar-brand-logo {
        margin-left: 5vw;
        margin-right: 10vw;
    }
}

.navbar-logo {
    max-height: 100px;
    width: auto;
    align-items: baseline;
}

@media (max-width: 991px) {
    .navbar-logo {
        max-height: 50px;
        width: auto;
        align-items: baseline;
    }
}
